---
- name: Install Prometheus & Grafana on EC2
  hosts: appserver
  become: yes

  tasks:

    - name: Update APT
      apt:
        update_cache: yes

    # -----------------------
    # Install Prometheus
    # -----------------------
    - name: Install Prometheus
      apt:
        name: prometheus
        state: present

    - name: Enable & Start Prometheus
      systemd:
        name: prometheus
        enabled: yes
        state: started

    # -----------------------
    # Install Grafana
    # -----------------------
    - name: Install dependencies
      apt:
        name: apt-transport-https
        state: present

    - name: Add Grafana GPG key
      apt_key:
        url: https://packages.grafana.com/gpg.key
        state: present

    - name: Add Grafana APT repository
      apt_repository:
        repo: "deb https://packages.grafana.com/oss/deb stable main"
        state: present

    - name: Install Grafana
      apt:
        name: grafana
        state: present
        update_cache: yes

    - name: Enable & Start Grafana
      systemd:
        name: grafana-server
        enabled: yes
        state: started

